<style type="text/css">
.flex-wrp{
    height: 100px;
    display:flex;
    background-color: #FFFFFF;
}
.flex-item{
    width: 100px;
    height: 100px;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"view"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"弹性框模型分为弹性容器以及弹性项目。当组件的display为flex或inline-flex时，该组件则为弹性容器，弹性容器的子组件为弹性项目。"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"flex-direction: row"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"flex-direction: column"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"height: 300px;flex-direction:column;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"justify-content: flex-start"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;justify-content: flex-start;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"justify-content: flex-end"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;justify-content: flex-end;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"justify-content: center"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;justify-content: center;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"justify-content: space-between"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;justify-content: space-between;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"justify-content: space-around"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"flex-direction:row;justify-content: space-around;"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"align-items: flex-end"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"height: 200px;flex-direction:row;justify-content: center;align-items: flex-end"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"align-items: center"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"flex-wrp","style":"height: 200px;flex-direction:row;justify-content: center;align-items: center"},context,function(element,data,context){
					View(element,data,"view",{"class":"flex-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"class":"flex-item bc_blue"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>