<style type="text/css">
.picker{
    padding: 13px;
    background-color: #FFFFFF;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"picker"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"选择器"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"地区选择器"},context,function(element,data,context){
				});
				View(element,data,"picker",{"bindchange":"bindPickerChange","value":"{{index}}","range":"{{array}}"},context,function(element,data,context){
					View(element,data,"view",{"class":"picker","#text":"当前选择：{{array[index]}}"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"时间选择器"},context,function(element,data,context){
				});
				View(element,data,"picker",{"mode":"time","value":"{{time}}","start":"09:01","end":"21:01","bindchange":"bindTimeChange"},context,function(element,data,context){
					View(element,data,"view",{"class":"picker","#text":"当前选择: {{time}}"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"日期选择器"},context,function(element,data,context){
				});
				View(element,data,"picker",{"mode":"date","value":"{{date}}","start":"2015-09-01","end":"2017-09-01","bindchange":"bindDateChange"},context,function(element,data,context){
					View(element,data,"view",{"class":"picker","#text":"当前选择: {{date}}"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>