
* {
    margin: 0px; 
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

body {
    font-family:-apple-system-font, "Helvetica Neue", sans-serif;
    background-color:rgba(255,255,255,0);
    height:100%;
    font-size:1.6rem;
    -webkit-user-select:none;
    user-select:none;
    width:100%;
    overflow-x:hidden;
}

wx-view {
    display: block;
}

wx-input {
    display:block;
    height: 2.2rem;
    text-overflow:clip;
    overflow:hidden;
    white-space:nowrap;
    font-family:UICTFontTextStyleBody;
    min-height:2.2rem;
}

wx-input > span {
    color: #999999;
}

wx-canvas {
    width:300px;
    height:150px;
    display:block;
    position:relative;
}
    
wx-scroll-view {
    -webkit-overflow-scrolling:touch;
    display: block;
    overflow: auto;
}

wx-image {
    display:inline-block;
    overflow:hidden;
}

wx-image img {
    width: 100%;
}

wx-navigator {
    height:auto;
    width:auto;
    display:block;
}

wx-button {
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-left:14px;
    padding-right:14px;
    box-sizing:border-box;
    font-size:18px;
    text-align:center;
    text-decoration:none;
    line-height:2.55555556;
    border-radius:5px;
    overflow:hidden;
    color:#000000;
    background-color:#F8F8F8;
    border: solid 0.05rem #999;
}

wx-button[plain] {
    color:#353535;
    border:1px solid #353535;
    background-color:transparent;
}
    
wx-button[size=mini] {
    display:inline-block;
    line-height:2.3;
    font-size:13px;
    padding:0 1.34em;
}

wx-button[disabled] {
    color:rgba(255, 255, 255, 0.6);
}
    
wx-button[type=default] {
    color:#000000;
    background-color:#F8F8F8;
}

wx-button[type=default][disabled] {
    color:rgba(0, 0, 0, 0.3);
    background-color:#F7F7F7;
}

wx-button[type=primary] {
    color:#FFFFFF;
    background-color:#1AAD19;
}

wx-button[type=primary][plain] {
    color:#1aad19;
    border:1px solid #1aad19;
    background-color:transparent;
}

wx-button[type=primary][disabled] {
    background-color:#9ED99D;
}

wx-button[type=warn] {
    color:#FFFFFF;
    background-color:#E64340;
}

wx-button[type=warn][plain] {
    color:#e64340;
    border:1px solid #e64340;
    background-color:transparent;
}

wx-button[disabled][type=warn] {
    background-color:#EC8B89;
}

.button-hover {
    color:rgba(0, 0, 0, 0.6);
    background-color:#DEDEDE;
}
    
.button-hover[type=default] {
    color:rgba(0, 0, 0, 0.6);
    background-color:#DEDEDE;
}

.button-hover[type=primary] {
    color:rgba(255, 255, 255, 0.6);
    background-color:#179B16;
}

.button-hover[type=warn] {
    color:rgba(255, 255, 255, 0.6);
    background-color:#CE3C39;
}
    
.navigator-hover {
    background-color:rgba(0, 0, 0, 0.1);
    opacity:0.7;
}
    
wx-swiper {
    position: relative;
    height: 150px;
    display: block;
    overflow: hidden;
}

wx-swiper div.wx-scroll {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

wx-swiper div.wx-content {
    display: block;
}

wx-swiper div.wx-dots {
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: auto;
    height: auto;
    display: none;
}

wx-swiper div.wx-dots.wx-vertical {
    left: auto;
    right: 9px;
    top: 50%;
}

wx-swiper div.wx-clear {
    clear: both;
}

wx-swiper div.wx-dots span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 0px 1.5px;
    background-color: rgba(0, 0, 0, 0.3);
}

wx-swiper div.wx-dots.wx-vertical span {
    display: block;
    margin: 1.5px 0px;
}

wx-swiper div.wx-dots span.wx-active {
    background-color: rgba(0, 0, 0, 0.8);
}

wx-swiper-item {
    position: absolute;
    left: 0px;
    top: 0px;
}
body {
  background-color: #fbf9fe;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}
.page-header {
  display: flex;
  font-size: 1.6rem;
  color: #aaa;
  justify-content: center;
  margin-top: 2.5rem;
}
.page-header-text {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc; 
}

.page-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-x: hidden;
}
.page-body-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.page-body-wrapper wx-form {
  width: 100%;
}
.page-body-wording {
  text-align: center;
  padding: 10rem 5rem;
}
.page-body-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 2.5rem;
  width: 100%;
  padding: 2.5rem 0 7.5rem 0;
}
.page-body-title {
  margin-bottom: 5rem;
  font-size: 1.6rem;
}
.page-body-text {
  font-size: 1.5rem;
  line-height: 26px;
  color: #ccc;
}
.page-body-text-small {
  font-size: 1.2000000000000002rem;
  color: #000;
  margin-bottom: 5rem;
}
.page-body-form {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #eee;
}
.page-body-form-item {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  border-bottom: 1px solid #eee;
  height: 4rem;
}
.page-body-form-key {
  width: 9rem;
}
.page-body-form-value {
  flex-grow: 1;
}

.page-body-form-picker {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  font-size: 1.8rem;
  margin-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #eee;
}
.page-body-form-picker-value {
  color: #ccc;
}

.page-body-buttons {
  width: 100%;
}
.page-body-button {
  margin: 1.25rem;
}
.page-body-button wx-image {
  width: 7.5rem;
  height: 7.5rem;
}
.page-footer {
  text-align: center;
  color: #1aad19;
  font-size: 1.2000000000000002rem;
  margin: 1rem 0;
}

.green{
    color: #09BB07;
}
.red{
    color: #F76260;
}
.blue{
    color: #10AEFF;
}
.yellow{
    color: #FFBE00;
}
.gray{
    color: #C9C9C9;
}

.strong{
    font-weight: bold;
}

.bc_green{
    background-color: #09BB07;
}
.bc_red{
    background-color: #F76260;
}
.bc_blue{
    background-color: #10AEFF;
}
.bc_yellow{
    background-color: #FFBE00;
}
.bc_gray{
    background-color: #C9C9C9;
}

.tc{
    text-align: center;
}

.page wx-input{
    padding: 10px 15px;
    background-color: #fff;
}
wx-checkbox, wx-radio{
    margin-right: 5px;
}

.btn-area{
    padding: 0 15px;
}
.btn-area wx-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.page {
    min-height: 100%;
    flex: 1;
    background-color: #FBF9FE;
    font-size: 16px;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    overflow: hidden;
}
.page__hd{
    padding: 40px;
}
.page__title{
    display: block;
    font-size: 20px;
}
.page__desc{
    margin-top: 5px;
    font-size: 14px;
    color: #888888;
}

.section{
    margin-bottom: 40px;
}
.section_gap{
    padding: 0 15px;
}
.section__title{
    margin-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.section_gap .section__title{
    padding-left: 0;
    padding-right: 0;
}
.section__ctn{

}
