<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"slide-tab"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"slide-tab"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"swiper",{"duration":"300","bindchange":"tabchange","style":"height: 300px; color: #fff"},context,function(element,data,context){
					View(element,data,"block",{"wx:for-items":"{{texts}}"},context,function(element,data,context){
						View(element,data,"swiper-item",{"style":"background-color: #{{index}}{{index}}{{index}}"},context,function(element,data,context){
							View(element,data,"scroll-view",{"scroll-y":""},context,function(element,data,context){
								View(element,data,"text",{"#text":"{{item}}"},context,function(element,data,context){
								});
							});
						});
					});
				});
			});
		});
	});
});})();
</script></body>