<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"input"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"输入框"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"placeholder":"这是一个可以自动聚焦的input","auto-focus":"true"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"placeholder":"这个只有在按钮点击的时候才聚焦","focus":"{{focus}}"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
					View(element,data,"button",{"bindtap":"bindButtonTap","#text":"使得输入框获取焦点"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"maxlength":"10","placeholder":"最大输入长度10"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"你输入的是：{{inputValue}}"},context,function(element,data,context){
				});
				View(element,data,"input",{"bindinput":"bindKeyInput","placeholder":"输入同步到view中"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"bindinput":"bindReplaceInput","placeholder":"连续的两个1会变成2"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"bindinput":"bindHideKeyboard","placeholder":"输入123自动收起键盘"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"type":"emoji","placeholder":"这是一个带有表情的输入框"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"password":"true","type":"number","placeholder":"这是一个数字输入框"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"password":"true","type":"text","placeholder":"这是一个文本输入框"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"type":"digit","placeholder":"带小数点的数字键盘"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"type":"idcard","placeholder":"身份证输入键盘"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"input",{"placeholder-style":"color:red","placeholder":"占位符字体是红色的"},context,function(element,data,context){
				});
			});
		});
	});
});})();
</script></body>