<style type="text/css">
.scroll-view_H{
    white-space: nowrap;
}
.scroll-view-item{
    height: 200px;
}
.scroll-view-item_H{
    display: inline-block;
    width: 100%;
    height: 200px;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"scroll-view"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"可滚动视图区域。"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"vertical scroll"},context,function(element,data,context){
				});
				View(element,data,"scroll-view",{"scroll-y":"true","style":"height: 200px;","bindscrolltoupper":"upper","bindscrolltolower":"lower","bindscroll":"scroll","scroll-into-view":"{{toView}}","scroll-top":"{{scrollTop}}"},context,function(element,data,context){
					View(element,data,"view",{"id":"green","class":"scroll-view-item bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"red","class":"scroll-view-item bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"yellow","class":"scroll-view-item bc_yellow"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"blue","class":"scroll-view-item bc_blue"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
					View(element,data,"button",{"size":"mini","bindtap":"tap","#text":"click me to scroll into view"},context,function(element,data,context){
					});
					View(element,data,"button",{"size":"mini","bindtap":"tapMove","#text":"click me to scroll"},context,function(element,data,context){
					});
					View(element,data,"button",{"size":"mini","bindtap":"scrollToTop","#text":"click me to top"},context,function(element,data,context){
					});
				});
			});
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"horizontal scroll"},context,function(element,data,context){
				});
				View(element,data,"scroll-view",{"class":"scroll-view_H","scroll-x":"true","style":"width: 100%"},context,function(element,data,context){
					View(element,data,"view",{"id":"green","class":"scroll-view-item_H bc_green"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"red","class":"scroll-view-item_H bc_red"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"yellow","class":"scroll-view-item_H bc_yellow"},context,function(element,data,context){
					});
					View(element,data,"view",{"id":"blue","class":"scroll-view-item_H bc_blue"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>