<style type="text/css">
wx-progress{
    margin-bottom: 30px;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"progress"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"进度条"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"progress",{"percent":"20","show-info":""},context,function(element,data,context){
				});
				View(element,data,"progress",{"percent":"40","active":""},context,function(element,data,context){
				});
				View(element,data,"progress",{"percent":"60","stroke-width":"10"},context,function(element,data,context){
				});
				View(element,data,"progress",{"percent":"80","color":"#10AEFF"},context,function(element,data,context){
				});
			});
		});
	});
});})();
</script></body>