<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"div-view"},context,function(element,data,context){
		View(element,data,"button",{"type":"default","bindtap":"checkbox","class":"index-button","#text":"checkbox"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"radio","class":"index-button","#text":"radio"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"form","class":"index-button","#text":"form"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"switch","class":"index-button","#text":"switch"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"slider","class":"index-button","#text":"slider"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"input","class":"index-button","#text":"input"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"label","class":"index-button","#text":"label"},context,function(element,data,context){
		});
		View(element,data,"button",{"type":"default","bindtap":"picker","class":"index-button","#text":"picker"},context,function(element,data,context){
		});
	});
});})();
</script></body>