<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"button"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"按钮"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"btn-area","id":"buttonContainer"},context,function(element,data,context){
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"type":"default","size":"{{defaultSize}}","loading":"{{loading}}","plain":"{{plain}}","disabled":"{{disabled}}","bindtap":"default","#text":"default"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"type":"primary","size":"{{primarySize}}","loading":"{{loading}}","plain":"{{plain}}","disabled":"{{disabled}}","bindtap":"primary","#text":"primary"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"type":"warn","size":"{{warnSize}}","loading":"{{loading}}","plain":"{{plain}}","disabled":"{{disabled}}","bindtap":"warn","#text":"warn"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"bindtap":"setDisabled","#text":"点击设置以上按钮disabled属性"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"bindtap":"setPlain","#text":"点击设置以上按钮plain属性"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"button-wrapper"},context,function(element,data,context){
					View(element,data,"button",{"bindtap":"setLoading","#text":"点击设置以上按钮loading属性"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>