<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"{{title}}"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"这是新建的页面，点击左上角返回回到之前页面"},context,function(element,data,context){
			});
		});
	});
});})();
</script></body>