<style type="text/css">
.navigator-hover wx-button{
    background-color:blue;
}
.other-navigator-hover wx-button{
    background-color:red;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"navigator"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"导航栏"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
				View(element,data,"navigator",{"url":"navigate?title=navigate","hover-class":"navigator-hover"},context,function(element,data,context){
					View(element,data,"button",{"type":"default","#text":"跳转到新页面"},context,function(element,data,context){
					});
				});
				View(element,data,"navigator",{"url":"redirect?title=redirect","redirect":"true","hover-class":"other-navigator-hover"},context,function(element,data,context){
					View(element,data,"button",{"type":"default","#text":"在当前页打开"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>