<style type="text/css">
wx-wx-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
wx-wx-label {
  display: block;
  margin-top: 5px;
}
.picker-text {
  margin-left: 10px;
  position: relative;
}
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"form"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"表单"},context,function(element,data,context){
			});
		});
		View(element,data,"form",{"class":"page__bd","catchsubmit":"formSubmit","catchreset":"formReset"},context,function(element,data,context){
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"switch"},context,function(element,data,context){
				});
				View(element,data,"switch",{"name":"switch"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"slider"},context,function(element,data,context){
				});
				View(element,data,"slider",{"name":"slider","show-value":"true"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"input"},context,function(element,data,context){
				});
				View(element,data,"input",{"name":"input","placeholder":"please input here"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"radio"},context,function(element,data,context){
				});
				View(element,data,"radio-group",{"name":"radio-group"},context,function(element,data,context){
					View(element,data,"label",{},context,function(element,data,context){
						View(element,data,"radio",{"value":"radio1"},context,function(element,data,context){
						});
						View(element,data,"text",{"#text":"radio1"},context,function(element,data,context){
						});
					});
					View(element,data,"label",{},context,function(element,data,context){
						View(element,data,"radio",{"value":"radio2"},context,function(element,data,context){
						});
						View(element,data,"text",{"#text":"radio2"},context,function(element,data,context){
						});
					});
				});
			});
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"view",{"class":"section__title","#text":"checkbox"},context,function(element,data,context){
				});
				View(element,data,"checkbox-group",{"name":"checkbox"},context,function(element,data,context){
					View(element,data,"label",{},context,function(element,data,context){
						View(element,data,"checkbox",{"value":"checkbox1"},context,function(element,data,context){
						});
						View(element,data,"text",{"#text":"checkbox1"},context,function(element,data,context){
						});
					});
					View(element,data,"label",{},context,function(element,data,context){
						View(element,data,"checkbox",{"value":"checkbox2"},context,function(element,data,context){
						});
						View(element,data,"text",{"#text":"checkbox2"},context,function(element,data,context){
						});
					});
				});
			});
			View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
				View(element,data,"button",{"formtype":"submit","#text":"Submit"},context,function(element,data,context){
				});
				View(element,data,"button",{"formtype":"reset","#text":"Reset"},context,function(element,data,context){
				});
			});
		});
	});
});})();
</script></body>