<style type="text/css">
.radio {
    display: flex;
    margin-bottom: 10px;
}</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"radio"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"单选框"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section section_gap"},context,function(element,data,context){
				View(element,data,"radio-group",{"class":"radio-group","bindchange":"radioChange"},context,function(element,data,context){
					View(element,data,"label",{"class":"radio","wx:for":"{{items}}"},context,function(element,data,context){
						View(element,data,"radio",{"value":"{{item.name}}","checked":"{{item.checked}}"},context,function(element,data,context){
						});
						View(element,data,"text",{"#text":"{{item.value}}"},context,function(element,data,context){
						});
					});
				});
			});
		});
	});
});})();
</script></body>