<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"mask"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"遮罩"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
				View(element,data,"view",{"class":"body-view"},context,function(element,data,context){
					View(element,data,"mask",{"hidden":"{{hidden1}}","bindtap":"mask1","hover-style":"none"},context,function(element,data,context){
					});
					View(element,data,"button",{"type":"default","bindtap":"tap1","#text":"点击弹出默认mask"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"body-view"},context,function(element,data,context){
					View(element,data,"mask",{"hidden":"{{hidden2}}","bindtap":"mask2","style":"background-color: rgba(255,255,0,0.6);","hover-style":"none"},context,function(element,data,context){
					});
					View(element,data,"button",{"type":"default","bindtap":"tap2","#text":"点击弹出半透明颜色的mask"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"body-view"},context,function(element,data,context){
					View(element,data,"mask",{"hidden":"{{hidden3}}","bindtap":"mask3","style":"background-color: rgb(0,255,0);","hover-style":"none"},context,function(element,data,context){
					});
					View(element,data,"button",{"type":"default","bindtap":"tap3","#text":"点击弹出纯色mask"},context,function(element,data,context){
					});
				});
				View(element,data,"view",{"class":"body-view"},context,function(element,data,context){
					View(element,data,"mask",{"hidden":"{{hidden4}}","bindtap":"mask4","style":"z-index: -100;","hover-style":"none"},context,function(element,data,context){
					});
					View(element,data,"button",{"type":"default","bindtap":"tap4","#text":"点击弹出设置z-index的mask"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>