<style type="text/css">
</style></head><body><script type="text/javascript">
(function(){
var View = kk.CreateElement;
kk.Page(function(element,data,context){
	View(element,data,"view",{"class":"page"},context,function(element,data,context){
		View(element,data,"view",{"class":"page__hd"},context,function(element,data,context){
			View(element,data,"text",{"class":"page__title","#text":"video"},context,function(element,data,context){
			});
			View(element,data,"text",{"class":"page__desc","#text":"视频"},context,function(element,data,context){
			});
		});
		View(element,data,"view",{"class":"page__bd"},context,function(element,data,context){
			View(element,data,"view",{"class":"section tc"},context,function(element,data,context){
				View(element,data,"video",{"src":"http://flv.bn.netease.com/videolib3/1605/22/auDfZ8781/HD/auDfZ8781-mobile.mp4","binderror":"videoErrorCallback"},context,function(element,data,context){
				});
			});
			View(element,data,"view",{"class":"section tc"},context,function(element,data,context){
				View(element,data,"video",{"src":"{{src}}"},context,function(element,data,context){
				});
				View(element,data,"view",{"class":"btn-area"},context,function(element,data,context){
					View(element,data,"button",{"bindtap":"bindButtonTap","#text":"获取视频"},context,function(element,data,context){
					});
				});
			});
		});
	});
});})();
</script></body>